@font-face {
    font-family: "ChunkFive Roman";
    src: url(../ChunkFive/Chunkfive.otf)
}

@font-face {
    font-family: "BeautyBeast Roman";
    src: url(../Beauty\ and\ the\ Beast\ Sample.ttf)
}

body{
    overflow-x: hidden;
}

img{
    width: 75%;
}

.container{
    width: 90%;
}

#header-logo{
    background-image: url(../images/icon_bb_red.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

.brand-logo{
    font-family: "Chunkfive Roman";
}

/* .header{
    margin: 0 auto;
} */

h1{
    line-height: 1.3;
    font-size: 3em;
    font-family: "BeautyBeast Roman";
}

/* h5{
    font-family: "BeautyBeast Roman";
} */

.nav-wrapper{
    text-align: center;
}

.searchBox{
    margin: 0 auto;
    width: 100%;
}

#name-search{
     padding-bottom: 0;
     padding-left: 12px;
}

#ingredient-search{
     padding-left: 12px;
}

.section{
    padding: 0;
    margin-top: 50px;
    margin-bottom: 0;
}

#drink{
    margin-top: 0;
    text-align: center;
}

#ingredient{
    padding: 0;
    margin-top: 75px;
    margin-bottom: 0;
}

#recent{
    margin-top: 50px;
}

.nav-wrapper{
    width: 100% !important;
}

.btn{
    margin-top: 10px;
}

@media only screen and (min-width: 993px){
    #header-logo{
        position: relative;
        background-image: url(../images/icon_bb_red.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100px;
    }
}